# TODO: Your editor's folder
# .vscode/
# After you uncomment the line above/ignore your editor's folder, you can
# run `git rm -r --cached .vscode` from your workspace root, so the folder becomes
# untracked/ignored by git (committing will mark the folder as deleted)
__pycache__/
env/

.pytest-cache
documentation/

dist/*
*.egg-info
